.button-store {
  box-sizing: border-box;
  text-align: center;
  background-color: #252c41;
  line-height: 60px;
  color: #fff;
  font-family: Arial, "Roboro", sans-serif;
  font-size: 20px;
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 299ms linear;
}
.button-store.-second {
  width: 218px;
  line-height: 56px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 38px;
}
.button-store:hover,
.button-store:focus {
  background-color: #fff;
  color: #e24647;
}
.button-store.-second:hover,
.button-store.-second:focus {
  background-color: #fff;
  color: #e24647;
}
.button-store.-second:active {
  transform: scale(0.98);
}
@media (max-width: 530px) {
  .button-store.-second {
    margin-right: 28px;
  }
  .button-store {
    width: 182px;
    font-size: 98%;
  }
  .button-store.-second {
    width: 200px;
  }
}
@media (max-width: 470px) {
  .button-store.-second {
    margin-right: 10px;
  }
 .button-store {
    width: 170px;
    font-size: 96%;
  }
  .button-store.-second {
    width: 190px;
}
@media (max-width: 435px) {
  .button-store {
    width: 150px;
    font-size: 94%;
  }
  .button-store.-second {
    width: 170px;
  }
}
@media (max-width: 400px) {
  .button-store {
    width: 130px;
    font-size: 80%;
    height: 50px;
    line-height: 50px;
   }
  .button-store.-second {
    width: 150px;
    line-height: 46px;
  }
}
@media (max-width: 350px) {
  .button-store {
    display: block;
    width: 180px;
    font-size: 80%;
    height: 30px;
    line-height: 30px;
   }
  .button-store.-second {
    width: 180px;
    line-height: 26px;
    margin-bottom: 10px;
  }
}