.description-store {
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  background-color: #e24647;
}
.description-store-list {
  float: right;
  right: 1%;
}
.description-store-title {
  width: 230px;
  height: 30px;
  margin-top: 154px;
  margin-bottom: 99px;
  font-size: 25px;
}
.model {
  padding-left: 9.3px;
  box-sizing: border-box;
}
.description-store-preco {
  margin-bottom: 26px;
}
.description-product {
  width: 553px;
  /* height: 175px; */
  margin-top: 47px;
  font-size: 18px;
}
.description-product.action {
  color: inherit;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.image-store {
  position: absolute;
  top: 0px;
  left: -40px;
  padding-top: 123px;
  margin-right: 200px;
}
