html {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0px 115px;
  padding: 55px 60px 95px;
}
h1 {
  font-size: 40px;
  font-family: Arial, "Roboro", sans-serif;
  float: left;
}
nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}
a {
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}
button {
  width: 199px;
  height: 60px;
  font-family: Arial, "Roboro", sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #252c41;
  padding: 17px 60px 21px 61px;
  float: right;
  margin-right: 280px;
  border: none;
  cursor: pointer;
}
